{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container">

    <div class="col-md-8">


        <div class="jumbotron ">
            <h4 class="text-center" style="font-family: 'Anton', sans-serif;">{{ blog.title}}</h4>
            <span class="text-left"><em>Written by: {{blog.userBlog.username}}</em><br>
                <em>Posted on: {{ blog.posted}}</em></span>
            <hr>
            <p class="justify-content-center" style="font-family: 'Rokkitt', serif;">{{ blog.quote}}</p>
            </hr>
        </div>
    </div>

    <div class="col-md-4">
        {{ wtf.quick_form(comment_form) }}


    </div>

</div>

{% endblock %}